<?xml version="1.0" encoding="UTF-8"?>
<!-- status：log4j2自身内部的信息输出；
     monitorInterval：每隔X秒,自动监控该配置文件是否有变化,如果变化,则自动根据文件内容重新配置 -->
<Configuration status="ERROR" monitorInterval="1800">
    <!-- 变量定义 -->
    <Properties>
        <Property name="logPath">${sys:catalina.home}/logs/uc-web</Property>
    </Properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss}] [Class=%C | Method=%M | Line=%L] | %m%n"/>
        </Console>

        <!-- 文件输出 -->
        <RollingFile name="trace-info" fileName="${logPath}/trace-info.log"
                     filePattern="${logPath}/trace-info-%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss}] [Class=%C | Method=%M | Line=%L] | %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="trace-info" level="INFO" />
        </Root>
    </Loggers>
</Configuration>